.main {
	margin-top: 3rem;
	animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	width: 70%;
}
.name {
	margin: 15px;
	text-align: center;
	width: 150px;
	border: 1px solid rgb(5, 5, 5);
	background-color: #fff;
	padding: 8px;
	transition: all 0.3s ease-in-out;
}
.subject-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.name:hover {
	background-color: rgb(82, 252, 59);
	cursor: pointer;
	scale: 1.3;
}
a {
	text-decoration: none;
}
